
@import url("https://fonts.googleapis.com") ;
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Nunito:wght@700;800&display=swap");
@import url("all.min.css");
@import url("bootstrap.min.css");


*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
  overflow: auto;
}

h1{
  font-family: 'Nunito' !important;
  
}

h2{
  font-family: 'Nunito' !important;
}

h3{
  font-family: 'Nunito' !important;
}

h4{
  font-family: 'Nunito' !important;
}
h5{
  font-family: 'Nunito' !important;
}

p{
  font-family: 'Heebo' !important;
}




/*--Navbar CSS start*/

.navbar {
  padding: 0 !important;
  transition: background-color 0.3s ease; 
}

.navbar.scrolled {
  background-color: #001735e7;
  
}

nav .navbar-nav .nav-item .nav-link {
  position: relative;
  display: block;
  font-family: 'Heebo' !important;
  font-size: 15px;
  color: white;
  font-weight: 500;
  margin-left: 20px;
 
}


.navbar-nav .nav-item .nav-link::after, .navbar-nav .nav-item .nav-link::before,.dropdown button::after, .dropdown button::before{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 3px;
  background: #b6d6fd;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link::before{
  left: 50%;
}

.navbar-nav .nav-item .nav-link::after{
  right: 50%;
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:focus, .dropdown button:hover, .dropdown button:focus{
  color: #b6d6fd;
}

.navbar-nav .nav-item .nav-link:hover::before, .navbar-nav .nav-item .nav-link:focus::before{
  left: 0;
  width: 50%;
}

.navbar-nav .nav-item .nav-link:hover::after, .navbar-nav .nav-item .nav-link:focus::after {
  right: 0;
  width: 50%;
}

.dropdown button{
  background-color: transparent;
  border: none;
  display: block;
  font-family: 'Heebo' !important;
  font-size: 15px;
  color: white;
  font-weight: 500;
  margin-left: 20px;
  
}

.nav-btn a{
  font-family: 'Heebo' !important;
  font-size: 18px;
  margin-left: 20px;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #eaf4ff;
  color: #001735;
  border-radius: 5px;
  transition: .3s;
}

.nav-btn a:hover{
  background-color: #001735;
  color: #eaf4ff;
  border-radius: 40px;
}

.dropdown{
  display: flex;
  justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    perspective: 1000px;
}


.dropdown-menu li:hover{
  background-color:#b6d6fd ;
  color: #001735;
  display: block;
}

.dropdown_menu{
  position: absolute;
  top: 20px;
  left: 25%;
  width: 145px;
  perspective: 1000px;
  z-index: -1;
  padding: 40px 0 0 0;
}

.dropdown_menu li a{
  text-decoration: none;
}

.dropdown_menu li{
  display: none;
  background-color: #eaf4ff;
  font-size: 16px;
  opacity: 0;
  list-style: none;
  transition: .3s;
}

.dropdown_menu li a{
  color: #001735;
  display: block;
  font-family: 'Heebo' !important;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 12px;
  transition: .3s;
}

.dropdown_menu li:hover{
  background-color: #001735;
}

.dropdown_menu li a:hover{
  color: #eaf4ff !important;
}

.dropdown_menu--animated{
  display: none;
}

.dropdown:hover .dropdown_menu--animated{
  display: block;
}

.dropdown_menu--animated li{
    display: block;
    opacity: 1;
  } 

  .dropdown_menu--animated{
    animation: growDown 0.4s ease-in-out ;
    transform-origin: top center;
}


@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
   
    100% {
        transform: scaleY(1)
    }
}

/*--Navbar CSS end*/





/*--hero---*/
.hero{
 background:linear-gradient(rgba(0, 18, 26, 0.8), rgba(0, 18, 26, 0.8)), url('../Img/Bg_1a.jpg');
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
}


.hero .row{
  padding: 110px 0 120px 0;
}

.hero .row h1{
  color:#eaf4ff;
  font-family: 'Nunito' !important;
  line-height: 1.1 !important;
}


.hero .row p{
  padding: 15px 0;
  font-family: 'Heebo' !important;
  font-weight: 100 !important;
}

.hero .row a{
  background-color:#eaf4ff ;
  font-family: 'Heebo' !important;
  color:  #001735;
  padding: 13px 20px;
  border-radius: 3px !important;
  transition:.3s;
  margin-right: 30px;
}

.hero .row a:hover{
  background-color: #001735;
  color:  #eaf4ff;
  border-radius: 40px !important;
}

.round-platter{
  overflow: hidden;
}


.round-platter img{
  animation: spin 20s linear infinite;
  transform-origin: center center; 
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); }

  100% { 
    transform: rotate(360deg); }
}


/*--hero end---*/




/*--Features start--*/

.features{
  padding: 80px 0;
  
}

.features .heading{
  border-bottom: 2px solid #0a4591;
  display: inline-block;
  padding-bottom: 1px;
  color:#001735;
}

.features .hr-line{
  margin-top: -6px;
  color: black;
  margin-bottom: 70px;
}

  /*--feature-item start--*/
  .feature-head{
    background: #eaf4ff;
    padding: 20px 15px;
  }
  .feature-item h3{
    margin-top: 10px;
    margin-bottom: 15px;
    color: black;
    cursor: pointer;
  }

  .feature-item:hover .menu-title{
    color: #032d63;
    transition: all .3s ease-in-out;
    
  }

  .feature-item p{
    font-family: 'Heebo' !important;
    font-weight: 100 !important;
    text-align: center;
    padding: 0 30px;
    color: black;
  }

  .feature-item p span{
    cursor: pointer;
    font-weight: bold;
    font-family: 'Nunito' !important;
  }
  .feature-item:hover span{
    color: #032d63;
    transition: all .3s ease-in-out;
  }

  .feature-icon{
    font-size: 30px !important;
    display: inline-block;
    background: #001735;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 20px;
    color: #ffffff;
    border: 4px solid #001735;
    box-shadow: 0 0 0 3px #ffffff inset;
  }

  @keyframes shakeClockwise {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-10deg);
    }
  }

  .feature-item:hover .feature-icon{
    animation: shakeClockwise 0.3s 2;
    background-color: black;
    border: 4px solid black;
    color: #ffffff;
    box-shadow: 0 0 0 3px #ffffff inset;
  }

  /*--feature-item end--*/

/*--Features end--*/



/*---Menu start---*/

.menu{
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu .heading{
  border-bottom: 2px solid #0a4591;
  display: inline-block;
  padding-bottom: 0;
  margin-bottom: 0;
  color:#001735;
}


.breakfast-head, .lunch-head, .dinner-head, .snaks-head, .beverage-head{
  margin-bottom: 50px;
}

.breakfast h3, .lunch h3, .dinner h3, .snaks h3, .beverage h3{
  position: relative;
  display: block;
  margin-top: 10px;
  color: #eaf4ff;
}

.breakfast h3::before, .lunch h3::before, .dinner h3::before , .snaks h3::before, .beverage h3::before{
  content: "";
  position: absolute;
  background: #eaf4ff;
  height: 2px;
  width: 50%;
  bottom: -3px;
}


.breakfast .btn, .lunch .btn, .dinner .btn, .snaks .btn, .beverage .btn{
  background-color: #eaf4ff;
    font-family: 'Heebo' !important;
    color: #001735;
  border-radius: 3px !important; 
    transition: .5s;
  }
.breakfast .btn:hover, .lunch .btn:hover, .dinner .btn:hover, .snaks .btn:hover, .beverage .btn:hover{
  background-color: hsl(211, 32%, 69%) !important;
  color: #000813 !important;
}


.items-details a{
  text-decoration: none;
  color: #001735;
  transition: 0.3s;
}

.items-details a:hover, .items-details a:link{
  color: rgb(31, 46, 61)
}

.menu-items .items-details{
  background-image: linear-gradient(to left, #efefef , #c8c5c6);
  box-shadow: 0.7px 3px 5px black;
  border-radius: 15%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: 0 !important;
}


.menu-items .items-details .cta-btn button{
  background-color: #001735;
  border: none;
  border-radius: 2px;
  color: #efefef;
  font-weight: 500;
  transition: .3s ;
}


.cta-btn button:hover{
  background-color: #0c3b79 !important;
  
}


    /*carousel button position*/
    .carousel-control-next{
      right: -16px !important;
    }


    .carousel-control-prev{
      left: -16px !important;
    }

    .carousel-control-next, .carousel-control-prev{
      width: 8%;
    }
    /*carousel button position*/

    /*--breakfast start---*/
    .breakfast-head{
        background:linear-gradient(rgba(0, 18, 26, 0.6), rgba(0, 18, 26, 0.6)), url('../Img/Bf_bg1a.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }


    /*--breakfast end---*/


    /*--lunch start---*/
    .lunch-head{
      background:linear-gradient(rgba(0, 18, 26, 0.6), rgba(0, 18, 26, 0.6)), url('../Img/L_bg1a.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    
    /*--lunch end---*/

    /*--dinner start--*/

    .dinner-head{
      background:linear-gradient(rgba(0, 18, 26, 0.6), rgba(0, 18, 26, 0.6)), url('../Img/Din_bg.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }


    /*--dinner end--*/


    /*snaks-head satat*/
    .snaks-head{
      background:linear-gradient(rgba(0, 18, 26, 0.8), rgba(0, 18, 26, 0.8)), url('../Img/breakfast_bg.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }



    /*snaks-head satat*/


    /*beverage-head satat*/
    .beverage-head{
      background:linear-gradient(rgba(0, 18, 26, 0.7), rgba(0, 18, 26, 0.7)), url('../Img/Bavrage_bg.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }



    /*beverage-head satat*/
/*---Menu end---*/



/*about section start*/
.about {
  padding: 40px 0px 80px 0;
}


.about-inner{
  background-color: #eaf4ff;
  padding: 18px 8px;
}

.about-head{
  font-size: 32px !important;
  color: #032d63;
}


.about .heading{
  border-bottom: 2px solid #0a4591;
  display: inline-block;
  padding-bottom: 1px;
  color:#001735;
}

.about .hr-line{
  margin-top: -7px;
  color: black;
  margin-bottom: 20px;
}

.fact{
  display: flex;
  justify-content: space-between;
}

.fact-inner-left, .fact-inner-right{
  display: flex;
  align-items: center;
}

.number h3{
  font-size: 45px ;
  border-left: 5px solid #032d63;
  padding-left: 7px;
}

.number{
  margin-right: 20px;
}

.details h4{
  color: gray;
}

.details span{
  display: block;
  font-weight: bold;
  opacity: 1;
  color: #001735;
}


.about .more-btn{
  margin-top: 25px;
}

.about .more-btn a{
  font-family: 'Heebo' !important;
  background-color: #001735;
  border-radius: 3px;
  color: #efefef;
  padding: 13px 20px ;
  transition: 0.5s;
}

.about .more-btn a:link, .about .more-btn a:hover{
  background-color: #0c3b79 !important;
}

.right-col{
  margin: 0;
  padding: 0;
}

.top-right-img, .bottom-left-img{
  width: 215px;
  
}


.top-right-img{
  margin-left: -3rem;
  margin-top: 1.9rem;
}



.bottom-left-img{
  margin-right: -3rem;
}
/*about section end*/


/*testimonial*/
.testimonial-head .heading{
    border-bottom: 2px solid #0a4591;
    display: inline-block;
    padding-bottom: 1px;
    color: #001735;
}



.testimonial{
  padding-top: 100px;
  padding-bottom: 50px;
}

.testimonial {
  background:linear-gradient(rgba(0, 18, 26, 0.8), rgba(0, 18, 26, 0.8)), url('../Img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg');
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
}

  .testimonial .container{
    max-width: 992px;
  }


  .user img{
    border: 3px solid #eaf4ff;
    border-radius: 100%;
  }


  .testimonial-details{
    border-left: 5px solid #eaf4ff;
    padding-left: 20px;
  }

  .testimonial-details h3{
    color: #b6d6fd;
    margin: 0;
  }

  .testimonial-details h5{
    color: #eaf4ff;
    opacity: 0.5;
    padding: 0;
    margin: 0;
  }

  .star-color{
    color: hsla(56, 82%, 52%, 0.89);
    font-size: 18px;
  }

  .fa-quote-left, .fa-quote-right{
    font-size: 20px;
    color: #b6d6fd  ;
  }

  .testimonial-details p{
    color: #eaf4ff;
    text-align: justify;
    width: 570px;
    padding-top: 15px;
    font-style: italic;
  }


  .clint-ex{
    margin-top: 50px;
    padding: 13px 20px;
    font-size: 18px;
    background-color: #eaf4ff;
    font-family: 'Heebo' !important;
    color: #001735;
    border-radius: 3px !important; 
    transition: .5s;
  }

  .clint-ex:hover{
    background-color: #001735;
    color: #eaf4ff;
  }

  .carousel-indicators button{
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
    background-color: transparent !important;
    border: 2px solid #eaf4ff !important;
    background-clip: border-box !important;
  }

  .carousel-indicators .active{
    background-color: #eaf4ff !important;
  }

  .carousel-indicators{
    bottom: -50px !important;
  }
/*testimonial end--*/




/*--Gallery---*/
.gallery{
  overflow: hidden;
}

.gallery .heading{
  border-bottom: 2px solid #0a4591;
    display: inline-block;
    padding-bottom: 1px;
    color: #001735;
}

.gallery .hr-line{
  margin-top: 0;
}

.gallery  .item-menu{
  margin: 10px auto;
  text-align: center;
}


.gallery  .item-menu ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #001735;
  background-color: transparent;
  border-radius: 3px;
  color: #001735;
  font-size: 18px;
  font-weight: 100;
  font-family: 'Heebo';
  transition: .5s;
  
}

.gallery  .item-menu ul li:hover, .gallery  .item-menu ul li:active{
  color: #eaf4ff;
  background-color: #001735;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.gallery  .item-menu ul .active{
  background-color: #001735;
  color: #eaf4ff;
}

.item_details{
  margin-left: 6rem;
}

.item_details .item img{
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5 );
}

.item{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0.8rem;
  height: 179px;
  width: 269px;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  opacity: 0;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.item_details .item:hover .overlay{
  opacity: 1;
}

.overlay .overlay-btn{
  margin-top: 15px;
}

.overlay .overlay-btn a{
  font-size: 18px;
  text-decoration: none;
 padding: 6px 9px;
    background-color: #001735 ;
    color:#eaf4ff ;
    border-radius: 7px;
    transition: .2s;
}

.overlay .overlay-text{
  color: #eaf4ff;
  font-size: 18px;
}

.overlay .overlay-text span{
  color:#b6d6fd;
  font-weight: 500;
}


.overlay .overlay-btn a:hover{
  background-color: #0a4591 ;
}
/*--Gallery end---*/




/*reservation start--*/
.reservation{
  overflow: hidden;
}

.reservation .heading{
  border-bottom: 2px solid #0a4591;
    display: inline-block;
    padding-bottom: 1px;
    color: #001735;
}

.reserv-inner{
  background:linear-gradient(rgba(0, 18, 26, 0.6), rgba(0, 18, 26, 0.6)),url('../Img/reservation_bg.jpg');
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
}

.reserv-inner .container{
  padding: 70px 0;
}

.reserv-inner h3{
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #b6d6fd;
}


.reserv-inner h3::before{
  content: "";
  position: absolute;
  background: #b6d6fd;
  height: 2px;
  width: 30%;
  bottom: -3px;
}

.form-control{
  color: #b6d6fd !important;
  border-radius: 3px !important;
}

 #input-label label{
  pointer-events: none;
  transition:  .3s ease-in-out;
  color: #eaf4ffa2;
  position: absolute;
  left: 15px;
  top: -2px;
  font-size: 14px;
  letter-spacing: 1px;
}

.input-icon{
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 30px;
  visibility: hidden;
}

.form-floating.success input{
  border-color: rgb(83, 233, 83);
  color: rgb(83, 233, 83) !important;
}

.form-floating.success .input-icon.fa-circle-check{
  visibility: visible;
  color: rgb(83, 233, 83);
}

.form-label.success input, .form-label.success select{
  color: rgb(83, 233, 83) !important;
  border-color: rgb(83, 233, 83);
}

.form-floating.error input{
  border-color:#e74c3c;
}

.form-floating.error label{
  color: #e74c3c !important;
}

.form-label.error input, .form-label.error select{
  border-color: #e74c3c;
  color: #e74c3c !important;
}

.form-floating.error .input-icon.fa-triangle-exclamation{
  visibility: visible;
  color: #e74c3c;
}

.form-floating small, .form-label small{
  visibility: hidden;
  font-size: 14px;
}

.form-floating.error small, .form-label.error small{
  visibility: visible;
  color: #e74c3c;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select{
  height: calc(2.7rem + 2px);
  line-height: 1.25;
  font-size: 0.9rem;
}

.form-label{
  margin-top: 0;
}

.form-label label{
  color: #eaf4ff;
  font-size: 17px;

}

.forms input:focus, .forms select:focus, .forms textarea:focus, .forms .form-control:focus{
  box-shadow: none;
}

.forms select>option{
  background-color: #001735 ;
}

.book-btn{
  margin-top: 10px;
    padding: 13px 20px;
    font-size: 18px;
    background-color: #b6d6fd;
    font-family: 'Heebo' !important;
    color: #001735 ;
    border-radius: 3px !important; 
    transition: .5s;
}

.book-btn:hover, .book-btn:visited, .book-btn:focus{
  background-color: #001735;
    color: #eaf4ff;
}
/*reservation end--*/



/* Master Chefs CSS */
.chef-section{
  overflow: hidden;
}

.chef-section .heading {
  border-bottom: 2px solid #0a4591;
  display: inline-block;
  padding-bottom: 1px;
  color: #001735;
}

.chef-section .hr-line {
  margin-top: -7px;
  color: black;
  margin-bottom: 20px;
}


.chef-item {
  position: relative;
  overflow: hidden;
}

.chef-img {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-out;
  border-radius: 5px;
}

.chef-img img {
  display: block;
  width: 100%;
  height: auto;
}


.chef-item:hover .chef-img {
  transform: scale(1.1);
}

.hover-effect {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Transparent overlay */
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chef-item:hover .hover-effect{
  transition: all .3s ease-in-out;
  opacity: 1;
}

.hover-effect  h3{
  position: absolute;
  color: #eaf4ff;
  bottom: 70px;
}

.hover-effect  h6{
  position: absolute;
  color: #eaf4ff;
  bottom: 56px;
}

.social-icon {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}

.social-icon li a{
  color: #001735;
  transition: all .3s ease-in-out;
}

.social-icon li{
  font-size: 29px;
  padding: 5px 10px 4px 10px;
  list-style: none;
  margin: 0 10px;
  background-color: #eaf4ff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.social-icon li a:hover{
  color: #0a4591;
}

.social-icon li a{
  text-decoration: none;
}

.chef-item:hover .social-icon{
  animation: translateX 0.3s ease-in;
}

@keyframes translateX{
  0%{
    transform: translate(0, 50px);
  }
  25%{
      transform: translate(0, 35px);
  }
  50%{
    transform: translate(0, 20px);
  }
  75%{
    transform: translate(0, 5px);
  }
  100%{
    transform: translate(0, 0);
  }
}
/* Master Chefs CSS end */



/*Contact Us CSS */

.contact{
  overflow: hidden;
}

.contact .heading {
  border-bottom: 2px solid #0a4591;
  display: inline-block;
  padding-bottom: 1px;
  color: #001735;
}

.contact .hr-line {
  margin-top: -7px;
  color: black;
  margin-bottom: 20px;
}

.contact-inner .address .address-inner{
  background-color: #eaf4ff;
  border-radius: 3px;
  display: flex;
  align-items: top;
  padding: 20px 30px;
  transition:all .3s ease;
  margin-bottom: 15px;
}

.contact-inner .address .address-inner:hover{
  box-shadow: 1px 1px 4px gray;
  border-radius: 3px;
}

.contact-inner .address .address-inner .address-icon{
  height: 60px;
  width: 60px;
  background-color: #b6d6fd;
  border-radius: 100%;
  text-align: center;
  margin-right: 15px;
}

.contact-inner .address .address-inner .address-icon svg{
  margin-top: 15px;
  color: #0a4591;
  font-size: 30px;
  transition: all .3s ease-in-out;
  
}

.contact-inner .address .address-inner .address-icon svg:hover{
  color:#000813 ;
}

.contact-inner .address .address-inner .address-details h3{
  margin: 0;
  color: #032d63;
}

.contact-inner .address .address-inner .address-details p{
  margin-bottom: 0;
  color: black;
  opacity: .7;
}

/*contact end*/



/*footer */
.footer{
  overflow: hidden;
  background: #001735;
}

.footer .footer-details{
  padding: 30px 0;
}

.footer .footer-details .footer-logo{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}

.footer-logo-text{
  padding-left: 10px;
  border-left: 5px solid #eaf4ff;
}

.footer-logo-text h3{
  color: #eaf4ff;
  margin: 0;
  padding: 0 0 5px 0;
}

.footer-logo-text p{
  color: #eaf4ff;
  margin: 0;
  padding: 0;
}


.q-links, .follow-us, .follow-icon{
  margin-left: 140px;
}



.follow-us h4, .q-link-head h4{
  color: #eaf4ff;
  margin-bottom: 0;
  padding: 5px 0 10px 0;
}

.follow-icon ul{
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  align-items: center;
}



.footer-links ul{
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.follow-icon ul li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links ul li{
  margin-bottom: -6px;
}

.footer-links ul li a{
  text-decoration: none;
  color: #eaf4ff;
  font-size: 16px;
  transition:all .3s ease-in-out;
}

.footer-links ul li a:hover{
  color: #a0cbff;
}


.follow-icon ul li a{
  text-decoration: none;
  color: #eaf4ff;
  font-size: 26px;
  transition: all .2s ease-in-out;
}

.follow-icon ul li a:hover{
  transform: scale(1.3);
}


.footer .copyright-inner{
  background-color: #032d63;
}

.copyright-inner .copyright-text{
  padding: 15px 0;
}

.copyright-inner .copyright-text span{
  margin: 0;
  padding: 0;
  color: #eaf4ff;
  font-size: 14px;
}

.copyright-inner .copyright-text span a{
  text-decoration: none;
  color: #b6d6fd;
  font-size: 16px;
  font-weight: 700;
  transition: .2s ease-in-out;
}

.copyright-inner .copyright-text span a:hover{
  color: #000813;
}




/*---responsive for large screen start---*/

@media screen and (min-width: 1200px) {

  .container{
    max-width: 1200px;
  }

  h1{
  font-size: 58px;
  }
  h2{
    font-size: 35px;
  }

  h3{
    font-size: 29px;
  }

  h4{
    font-size: 20px;
  }

  h5{
    font-size: 17px;
  }

  h6{
    font-size: 15px;
  }


  p{
    font-size: 14px;
  }




  /*--Navbar__*/
  nav .navbar-nav .nav-item .nav-link{
    font-size: 17px;
    
  }

  /*--Navbar__*/
  
/*--Hero start--*/
.hero .round-platter img{
  width: 480px;
}
/*--Hero end--*/

  
/*--Menu start ---*/
  /*--breakfast start---*/

    .breakfast, .lunch, .dinner, .beverage, .snaks{
    padding: 25px 0 70px 0;
  }

  .breakfast h3, .lunch h3, .dinner h3, .beverage h3 , .snaks h3{
    position: relative;
    display: block;
    margin-top: 10px;
    color: #eaf4ff;
  }


  .breakfast .btn, .lunch .btn, .dinner .btn{
    font-size: 15px;
    }
  
  .menu-items{
    margin-top: 150px;
  }

 .menu-items .items-details{
    height: 270px;
    width: 260px;
    padding-top: 130px;
  }

  .menu-items .items-details h4{
    padding-left: 35px;
    margin-bottom: 0;
  }

  .menu-items .items-details p{
    padding-left: 35px;
  }

  .menu-items .cta-btn{
    padding: 0 35px;
  }

  .menu-items .items-details .cta-btn h5{
    padding-top: 13px;
  }

  .menu-items .items-details .cta-btn button{
    font-size: 15px !important;
    padding: 6px 7px !important;
  }

  .menu-items .items-inner .addQnt{
    top: -120px;
    right: 50px;
    z-index: 1;
    background: #eaf4ff;
    color: #001735;
    padding: 7px 13px;
    border-radius: 20px;

  }

  .menu-items .items-inner img{
    height: 245px;
    top:-135px;
    margin: 0.5rem;
  }

  /*--breakfast end---*/
/*--Menu end ---*/


/* Gallery CSS */
.gallery{
  padding: 70px 0 70px 0;
}


/* Master Chefs CSS */
.chef-section{
  padding: 70px 0;
}



/*contact us CSS*/
.contact{
  padding: 10px 0 70px 0;
}




}


/*---responsive for large screen end---*/



/*---responsive for medium-laptop screen---*/

@media screen and (min-width: 992px) and (max-width: 1199px) {

  .container{
    max-width: 992px;
  }

  h1{
    font-size: 45px;
  }
  h2{
    font-size:28px;
  }

  h3{
    font-size: 23px;
  }

  h4{
    font-size: 18px;
  }

  h5{
    font-size: 14px;
  }

  h6{
    font-size: 14px;
  }


  p{
    font-size: 14px;
  }




  /*--Navbar__*/
  nav .navbar-nav .nav-item .nav-link{
    font-size: 17px;
    
  }

  /*--Navbar__*/




  /*--hero start---*/


  .menu .heading{
    margin-bottom: 0;
    padding-bottom: 5px;
  }


  .hero .row h1{
    line-height: 1.1 !important;
    width: 414px;
  }


  .hero .row a{
    background-color:#eaf4ff ;
    font-family: 'Heebo' !important;
    color:  #001735;
    padding: 9px 15px;
    border-radius: 3px !important;
    transition: all .5s;
  }

  .hero .row p {
    padding: 10px 0;
    line-height: 1.4;
  }

  .hero .round-platter img{
    width: 350px;
  }


  /*--hero start---*/



    /*--breakfast start---*/
    


    .breakfast, .lunch, .dinner, .beverage, .snaks{
    padding: 50px 0;
  }

  .breakfast h3, .lunch h3, .dinner h3, .beverage h3, .snaks h3{
    position: relative;
    display: block;
    margin-top: 10px;
    color: #eaf4ff;
  }

 


  .breakfast .btn, .lunch .btn, .dinner .btn, .beverage .btn, .snaks .btn{
    font-size: 14px;
    }
  
 .menu-items{
    margin-top: 150px;
  }

 .menu-items .items-details{
    height: 245px;
    width: 220px;
    padding-top: 120px;
  }


  .menu-items .items-details h4{
    padding-left: 20px;
    margin-bottom: 0;
  }

  .menu-items .items-details p{
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .menu-items .cta-btn{
    padding: 0 20px;
  }

  .menu-items .items-details .cta-btn h5{
    padding-top: 11px;
  }

  .menu-items .items-details .cta-btn button{
    font-size: 14px !important;
    padding: 4px 5px !important;
  }


  

  .menu-items .items-inner img{
    height: 205px;
    top:-110px;
    margin: 0.5rem;
  }

  /*--breakfast end---*/


  /* Gallery CSS */
  .gallery{
    padding: 70px 0 70px 0;
  }

/* Chefs CSS */
.social-icon li {
  font-size: 23px;
}

.hover-effect h6 {
  bottom: 45px;
}

.hover-effect h3 {
  bottom: 59px;
}


/* Chefs CSS */
.chef-section{
  padding: 70px 0;
}


/*contact us CSS*/
.contact{
  padding: 0 0 70px 0;
}


}
/*---responsive for medium-laptop screen---*/




/*---responsive for tab screen---*/


@media screen and (min-width: 768px) and (max-width: 991px) {

  .container{
    max-width: 768px;
  }

  h1{
    font-size: 40px;
  }
  h2{
    font-size:25px;
  }

  h3{
    font-size: 20px;
  }

  h4{
    font-size: 16px;
  }

  h5{
    font-size: 13px;
  }

  h6{
    font-size: 11px;
  }


  p{
    font-size: 10px;
  }




  /*--Navbar__*/


  .navbarNav {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}


.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 0 !important;
}


.nav-btn{
  display: flex;
  align-items: center;
  text-align: right;
}
  /* .navbar{
    background-color: #001735e7;
    width: 25%;
    height: 100%;
    left: auto;
  } */
  .navbar-brand img{
    width: 30px;
  }

.navbar-brand{
  margin-right: 0;
  padding:5px 0;
  margin: 0 auto;
}



  nav .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-item{
    margin-bottom:0;
  }

  nav .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    margin-left: 16px;
    padding: 2px 0;
}

.navbar-nav .nav-item .nav-link::after, .navbar-nav .nav-item .nav-link::before,.dropdown button::after, .dropdown button::before{
  height: 2px;
  bottom: 0;
}

.dropdown button {
  font-size: 12px;
  margin-left: 16px;
}


.nav-btn a {
  font-size: 12px;
  padding: 5px 8px;
  margin-left: 16px;
}

.dropdown_menu {
  position: absolute;
  top: 14px;
  left: 27%;
  width: 135px;
  perspective: 1000px;
  z-index: -1;
  padding: 20px 0 0 0;
}

.collapse:not(.show) {
  display: flex;
}

.navbar-toggler {
  display: none;
}


  /*--Navbar__*/




  /*--hero start---*/

  .hero .row{
    padding: 110px 0 65px 0;
  }


  .hero .row h1{
    line-height: 1 !important;
    width: 400px;
  }




  .hero .row a{
    font-size: 12px;
    background-color:#eaf4ff ;
    font-family: 'Heebo' !important;
    color:  #001735;
    padding: 7px 12px;
    border-radius: 3px !important;
    transition: all .5s;
  }

  .hero .row p {
    font-size: 12px;
    padding: 7px 0 0 0;
    line-height: 1.4;
  }

  .hero .round-platter img{
    width: 300px !important;
    overflow: hidden;
  }


  /*--hero start---*/



    /*--breakfast start---*/
    


    .breakfast, .lunch, .dinner, .snaks, .beverage{
    padding: 50px 0;
  }

  .breakfast h3, .lunch h3, .dinner h3, .snaks h3, .beverage h3{
    position: relative;
    display: block;
    margin-top: 10px;
    color: #eaf4ff;
  }

 

  .breakfast .btn, .lunch .btn, .dinner .btn, .snaks .btn, .beverage .btn{
    font-size: 13px;
    }
 

  .menu-items{
    margin-top: 100px;
  }


 .menu-items .items-details{
    height: 200px;
    width: 175px;
    padding-top: 102px;
  }


  .menu-items .items-details h4{
    padding-left: 20px;
    margin-bottom: 0;
  }

  .menu-items .items-details p{
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .menu-items .cta-btn{
    padding: 0 20px;
  }

  .menu-items .items-details .cta-btn h5{
    padding-top: 10px;
  }

  .menu-items .items-details .cta-btn button{
    font-size: 10px !important;
    padding: 4px 5px !important;
  }


  

  .menu-items .items-inner img{
    height: 165px;
    top:-90px;
    margin: 0.3rem;
  }

  /*--breakfast end---*/



  /* Gallery CSS */
  .gallery{
    padding: 20px 0 20px 0;
  }
 

  .item_details {
    margin-left: 5rem;
  }
  
  
  .item_details .item{
    margin-top: 15px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0.77rem;
    height: 151px;
    width: 226px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
  }
  
  .overlay .overlay-text {
    color: #eaf4ff;
    font-size: 14px;
  }
  
  .overlay .overlay-btn a {
    font-size: 14px;
    text-decoration: none;
    padding: 7px 12px;
    background-color: #001735;
    color: #eaf4ff;
    border-radius: 4px;
    transition: .2s;
  }
  



  /* Chefs CSS */

  .chef-section{
    padding: 70px 0;
  }

  .chef-item:hover .chef-img {
    transform: scale(1.2);
  }

  .social-icon li {
    font-size: 20px;
    padding: 3px 8px 2px 8px;
    margin: 0 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.hover-effect h6 {
  bottom: 35px;
}

.hover-effect h3 {
  bottom: 45px;
}



/*Contact us CSS */
.contact{
  padding: 0 0 70px 0;
}



.contact-inner .address .address-inner{
  padding:15px 25px;
  transition:all .3s ease;
  margin-bottom: 10px;
  align-items: center;
}



.contact-inner .address .address-inner .address-icon{
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.contact-inner .address .address-inner .address-icon svg{
  margin-top: 10px;
  font-size: 20px;
  transition: all .3s ease-in-out;
  
}

.map iframe{
  height: 310px;
}

/*contact end */



/*footer*/
.footer-logo img{
  width: 55px;
}

.footer .footer-details .footer-logo {
  gap: 5px;
  margin-left: 0;
}

.q-links, .follow-us, .follow-icon {
  margin-left: 70px;
}

.follow-us h4, .q-link-head h4{
  padding: 0 !important;
}


.footer-links ul li a {
  font-size: 12px;
}

.footer-links ul li {
  margin-bottom: -13px;
}


.copyright-inner .copyright-text {
  padding: 3px 0;
}

.copyright-inner .copyright-text span{
  font-size: 10px;
}

.copyright-inner .copyright-text span a{
  font-size: 10px;
}


}

/*---responsive for tab screen---*/



/*---responsive for mobile screen---*/
@media screen and (min-width: 400px) and (max-width:767px){
  .container{
    max-width: 475px;
  }


  h1{
    font-size: 21px;
  }

  h2{
    font-size: 19px;
  }


  h3{
    font-size: 17px;
  }

  h4{
    font-size: 12px;
  }

  h5{
    font-size: 9px;
  }

  h6{
    font-size: 8px;
  }

  p{
    font-size: 8px;
  }



  /* Navbar Css  */
  .navbar-brand{
    padding-top: 0;
    padding-bottom: 4px;
  }

  .navbar-brand img{/*--logo--*/
    width: 23px;
  }


  .navbar-nav .nav-item .nav-link::after, .navbar-nav .nav-item .nav-link::before,.dropdown button::after, .dropdown button::before{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    background: #b6d6fd;
    transition: all 0.4s ease-in-out;
  }


  .dropdown_menu li a {
    font-size: 8px;
    padding: 5px 8px;
    
  transition: .3s;
}

.dropdown_menu{
  top: 14px;
  left: 27%;
  width: 75px;
  padding: 0;
  padding-top: 14px;
}

  .navbar-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 0 !important;
  }

  .navbarNav{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center; 
    
}
.dropdown button{
  font-size: 8px;
  margin-left: 12px;
}
  

  nav .navbar-nav .nav-item .nav-link {
    font-size: 8px;
    margin-left: 12px;
    padding: 2px 0;
  }

  .nav-btn{
    display: flex;
    align-items: center;
    text-align: right;
  }

  .nav-btn a{
    font-size: 8px;
    padding: 5px 8px;
    background-color: #eaf4ff;
    color: #001735;
    border-radius: 2px;
    transition: .5s;
    margin-left:12px;
  }


  .navbar-toggler{
    height: 23px;
    width: 23px;
    background-color: #eaf4ff;
    padding: 1px 8px;
    margin-right: 0;
    margin-left: 10px;
    border-radius: 2px;
  }

  .navbar-toggler:focus, .navbar-toggler:active{
    box-shadow: none;
  }

  .navbar-toggler .navbar-toggler-icon{
    font-size: 10px;
    margin-bottom: 10px;
    margin-left: -5px;
  }


  /* Hero CSS */
  .hero .row{
    padding: 50px 0 30px 0;
  }

  .hero .row p {
    padding: 5px 0;
    margin: 0;
    
}

  .hero .row a {
    font-size: 8px;
    background-color: #eaf4ff;
    font-family: 'Heebo' !important;
    color: #001735;
    padding: 5px 8px;
    border-radius: 2px !important;
    transition: .5s;
    margin-right: 10px;
}


.hero .round-platter img {
  width: 190px;
}
  



  /* Features CSS */
  .features{
    padding:40px 0 20px 0;
    
  }

  
  .features .hr-line{
    margin-top: -8px;
    margin-bottom: 64px;
  }
  
    /*--feature-item start--*/
    .feature-head{
      padding: 5px 0;
    }
    .feature-item h3{
      margin-top: 2px;
      margin-bottom: -1px;
    }

    .feature-item{
      width: 210px;
      margin-top: 0;
      padding-top: 15px;
    }
  
    .feature-item:hover .menu-title{
      color: #032d63;
      transition: all .3s ease-in-out;
      
    }
  
    .feature-item p{
      padding: 0 10px;
    }
  

    .feature-icon {
      font-size: 8px !important;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      padding: 8px;
      color: #ffffff;
      border: 3px solid #001735;
  }

  .feature-item:hover .feature-icon {
    border: 3px solid black;
    color: #ffffff;
}




/* Menu CSS */
.menu{
  padding: 40px 0 20px 0;
}


/* .breakfast-head, .lunch-head, .dinner-head, .snaks-head, .beverage-head {
  margin-bottom: 0;
} */

.menu .heading {
  padding-bottom: 1px;
  margin-bottom: 0;
}

.breakfast h3, .lunch h3, .dinner h3, .snaks h3, .beverage h3{
  margin-top: 4px;
  margin-bottom: 0;
}

.breakfast .btn, .lunch .btn, .dinner .btn , .snaks .btn, .beverage .btn{
  margin-top: 20px;
  font-size: 8px;
  padding: 5px 8px;
  border-radius: 2px !important;
}

.breakfast>div, .lunch>div, .dinner>div, .snaks>div, .beverage>div{
  margin-bottom: -20px;
}

.breakfast .row>*, .lunch .row>*, .dinner .row>*, .snaks .row>*, .beverage .row>*{
  width: auto;
}

.items-inner{
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.menu-items{
  padding-bottom: 20px;
  margin: 0 30px;
}


.menu-items .items-details{
  height: 165px;
    width: 155px;
    padding-top: 75px;
}


.menu-items .items-inner img{
  width: 135px;
  top:-70px;
  margin: 0.1rem;
}

.menu-items .items-details h4 {
  padding-left: 15px;
  margin-bottom: 0;
}

.menu-items .items-details p {
  padding-left: 15px;
  margin-bottom: 12px;
}

.menu-items .items-details .cta-btn h5 {
  padding-top: 12px;
}

.menu-items .cta-btn {
  padding: 0 15px;
}

.menu-items .items-details .cta-btn button {
  font-size: 8px !important;
  padding: 4px 6px !important;
}

.carousel-control-next {
  right: 1px !important;
}


.carousel-control-next, .carousel-control-prev {
  width: 15%;
}






/*About CSS */
.about{
  padding:20px 0 0 0 ;
}


.about .heading{
  padding-bottom: 1px;
}

.about .hr-line{
  margin-top: -6px;
  margin-bottom: 8px;
}

.about-head{
  text-align: center;
  font-size: 23px !important;
  font-weight: 900;
}

.fact{
  margin-top: 10px;
  padding: 0 20px ;
}

.about-inner {
  padding: 18px 0;
}



.about-inner p{
  padding: 0 20px 0 20px;
  margin: 0;
}

.number h3{
  font-size: 20px;
  border-left: 3px solid #032d63;
  padding-left: 7px;
}

.about .more-btn{
  margin-top: 3px;
  text-align: center;
}

.about .more-btn a{
    border-radius: 2px;
    padding: 7px 10px;
    font-size: 12px;
}

.top-right-img {
  margin-left: -3.5rem;
  margin-top: 0;
}

.bottom-left-img {
   margin-right: -3.5rem; 
}
.about-inner .img-fluid{
 width: 170px ;
}



/* Testimonial */
.testimonial .container {
  max-width: 480px;
}

.testimonial-head .heading{
  padding: 40px 0 0 0;
  margin-bottom: 5px !important;
}

.testimonial {
  padding-top: 30px;
  padding-bottom: 30px;
}

.testimonial .row>*{
  width: auto;
}

.testimonial .carousel-item{
  height: 120px;
}

.user img{
  width: 90px;
  margin-right: 10px;
}

.testimonial-details {
  border-left: 3px solid #eaf4ff;
  padding-left: 10px;
}

.star-color {
  font-size:12px;
}

.rating{
  margin-top: -5px;
  padding: 0;
}

.testimonial-details p{
  padding-top: 5px;
  width: 320px;
  margin-bottom: 0;
}

.fa-quote-left, .fa-quote-right {
  font-size: 9px;

}

.carousel-indicators{
  bottom: -50px !important;
}

.carousel-indicators button {
  width: 13px !important;
  height: 13px !important;
  border: 1px solid #eaf4ff !important;
}

.clint-ex {
  padding: 7px 10px;
  font-size: 12px;
  border-radius: 2px !important;
  margin-top: 45px;
}


/* Gallery CSS*/
.gallery{
  padding: 40px 0 20px 0;
}

.gallery .heading {
  padding-bottom: 0;
  color: #001735;
}

.gallery .hr-line {
  margin-top: -6px;
  margin-bottom: 0;
  padding: 0;
}

.gallery .item-menu {
  margin: 10px auto 0 auto;
  text-align: center;
}

.gallery .item-menu ul{
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-left: 0;
}



.gallery .item-menu ul li {
  margin-right: 6px;
  padding: 5px 7px;
  border-radius: 2px;
  font-size: 8px;
}


.g-4, .gy-4 {
  --bs-gutter-y: 0 !important;
}

.item_details {
  margin-left: 0.5rem;
}

.item_details>.row>*{
  width: 210px;
}


.item_details .item{
  margin-top: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0.75rem;
  height: 124px;
  width: 186px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.overlay .overlay-text {
  color: #eaf4ff;
  font-size: 9px;
  padding-bottom: 5px;
}

.overlay .overlay-btn {
  margin-top: 0;
}

.overlay .overlay-btn a {
  font-size: 9px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #001735;
  color: #eaf4ff;
  border-radius: 4px;
  transition: .2s;
}






/* Reservation */
.reservation{
  padding: 25px 0 0 0;
}



.reserv-inner .container{
  padding: 18px 0;
}

.reservation .heading{
  margin-bottom: 5px !important;
}

.reserv-inner h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.reserv-inner>.container>.row>*{
  width: 330px;
  margin-left: 35px;
}

.form-floating input, .form-label input, .form-label select, .form-floating textarea{
  height: 25px !important;
  width: 100%;
  font-size: 10px;
}

#input-label label{
  pointer-events: none;
  transition:  .3s ease-in-out;
  color: #eaf4ffa2;
  position: absolute;
  left: 15px;
  top: -14px;
  font-size: 8px;
  letter-spacing: 1px;
}
.input-icon{
  font-size: 13px;
  position: absolute;
  top: 5px;
  right: 22px;
  visibility: hidden;
}
.form-floating small, .form-label small{
  visibility: hidden;
  font-size: 8px;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select{
  height: calc(2.7rem + 2px);
  line-height: 1.25;
  font-size: 0.4rem;
  padding: 0;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){
  padding-top: .525rem;
    padding-bottom: 0.525rem;
    padding-left: 15px;
}

.form-label label{
  color: #eaf4ff;
  font-size: 8px;

}

.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label{
  transform: scale(.80) translateY(-.1rem) translateX(.1rem);
  font-size: 5px !important;
}

.form-floating small{
  position: absolute;
  top: 25px;
  left: 17px;
}

.form-select{
  padding: 0.175rem 2.25rem 0.375rem 0.75rem;
}

.form-label{
  margin-bottom: 0;
}

.form-label small{
  position: absolute;
  bottom: -12px;
  left: 17px;
}

.form-floating{
  margin-top: 20px;
}

.book-btn {
  margin-top: 10px;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 2px !important;
}

.textarea{
  margin-top: 26px;
}


/* Chefs CSS */

.chef-section{
  padding: 40px 0 20px 0;
}

.chef-section .hr-line {
  margin-top: -6px;
  margin-bottom: 10px;
}

.chef-item {
  margin-bottom: 15px;
}

.chef-img img {
  width: 270px;
  height: 180px;
  border-radius: 3px;
}

.chef-item .chef-img{
  display: flex;
  justify-content: center;
}

.hover-effect {
  position: absolute;
  top: 0;
  left: 76px;
  width: 323px;
  height: 182px;
}

.social-icon li {
  font-size: 17px;
  padding: 4px 8px 3px 8px;
  margin: 0 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chef-item:hover .chef-img {
  transform: scale(1.2);
}



.hover-effect h3 {
  bottom: 46px;
  margin-bottom: 0;
}

.hover-effect h6 {
  bottom: 39px;
  margin-bottom: 0;
}



/*Contact us CSS */
.contact{
  padding: 5px 0 40px 0;
}

.contact .hr-line{
  margin-bottom: 10px;
  margin-top: -6px;
}

.contact-inner .address .address-inner{
  padding:12px 20px;
  transition:all .3s ease;
  margin-bottom: 8px;
  align-items: center;
}



.contact-inner .address .address-inner .address-icon{
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.contact-inner .address .address-inner .address-icon svg{
  margin-top: 8px;
  font-size: 17px;
  transition: all .3s ease-in-out;
  
}

.map iframe{
  width: 445px;
  height: 250px;
}
/*contact css end*/



/*footer*/
.footer .footer-details .footer-logo img{
  width: 35px;
}

.footer .footer-details .footer-logo {
  gap: 10px;
  margin-left: 15px;
}


.footer .footer-details {
  padding: 30px 0 40px 0;
}



.footer-logo-text {
  padding-left: 10px;
  border-left: 3px solid #eaf4ff;
}

.footer-details .row .col-lg-4{
  margin-bottom: 25px;
  margin-left: 35px;
}


.follow-us h4, .q-link-head h4{
  padding: 0;
}

.q-links, .follow-us, .follow-icon {
  margin-left: 15px ;
  margin-top: 0;
}

.follow-icon{
  position: absolute;
  top: 14px;
}


.footer-links ul li a{
  font-size: 8px;
}

.footer-links ul li {
  margin-top: 0;
  margin-bottom: 0;
}

.follow-icon ul li a {
  font-size: 16px;
}

.follow-icon ul {
  gap: 8px;
  padding-top: 0;
}

.copyright-inner .copyright-text span {
  font-size: 8px;
}

.copyright-inner .copyright-text span a {
  font-size: 10px;
}


.copyright-inner .copyright-text{
  padding: 0 0 5px 0;
}


}

/*---responsive for mobile screen---*/






/*---responsive for mobile screen---*/

@media screen and (max-width:399px){
  .container{
    max-width: 340px;
  }


  h1{
    font-size: 16px;
  }

  h2{
    font-size: 12px;
  }


  h3{
    font-size: 10px;
  }

  h4{
    font-size: 9px;
  }

  h5{
    font-size: 7px;
  }

  h6{
    font-size: 5px;
  }

  p{
    font-size: 5px;
  }



  .navbar-brand{
    padding-top: 1px;
    padding-bottom: 4px;
  }

  .navbar-brand img{/*--logo--*/
    width: 18px;
  }


  .navbar-nav .nav-item .nav-link::after, .navbar-nav .nav-item .nav-link::before,.dropdown button::after, .dropdown button::before{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    background: #b6d6fd;
    transition: all 0.4s ease-in-out;
  }


  .dropdown_menu li a {
    font-size: 6px;
    padding: 3px 5px;
}

.dropdown_menu{
  top: 8px;
  left: 27%;
  width: 50px;
  padding: 0;
  padding-top: 11px;
}

.dropdown_menu--animated li{
  font-size: 6px;
}

  .navbar-nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 0 !important;
  }

  .navbarNav{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center; 
    
}
.dropdown button{
  font-size: 6px;
    margin-left: 7px;
}
  

  nav .navbar-nav .nav-item .nav-link {
    font-size: 6px;
    margin-left: 7px;
    padding: 0;
  }

  .nav-btn{
    display: flex;
    align-items: center;
    text-align: right;
  }

  .nav-btn a{
    font-size: 6px;
    padding: 2px 3px;
    background-color: #eaf4ff;
    color: #001735;
    border-radius: 1px;
    transition: .5s;
    margin-left:7px;
  }


  .navbar-toggler{
    height: 14px;
    width: 16px;
    background-color: #eaf4ff;
    padding: 0;
    margin-right: 0;
    margin-left: 7px;
    border-radius: 1px;

  }

  .navbar-toggler:focus, .navbar-toggler:active{
    box-shadow: none;
  }

  .navbar-toggler .navbar-toggler-icon{
    font-size: 8px;
    margin-bottom: 16px;
    margin-left: -1px;
  }




/*hero*/
.hero .row{

padding: 50px 0 20px 0;

}
.hero .row h1{
  margin-bottom: 0;
  padding: 0;
}

.hero .row p {
  padding: 7px 0;
  margin-bottom: 0;
}

.hero .row a {
  font-size: 6px;
  padding: 3px 5px;
  margin-right: 7px;
}


.round-platter img{
  width: 140px;
}



/*features*/

.features {
  padding: 20px 0;
}

.features .heading{
  padding-bottom: 0;
  border-bottom: 1px solid #0a4591;
}

.features .hr-line {
  margin-top: -8px;
  margin-bottom: 10px;
}

.feature-head{
  padding: 5px 8px;
  margin-top: 0;
}

.feature-head .feature-item{
  margin-top: 5px;
}


.feature-icon {
  font-size: 8px !important;
  width: 15px;
  height: 15px;
  padding: 10px;
  border: 2px solid #001735;
  box-shadow: 0 0 0 2px #ffffff inset;
}

.feature-item:hover .feature-icon {
  border: 2px solid black;
  box-shadow: 0 0 0 2px #ffffff inset;
}

.feature-item h3 {
  margin-top: 0;
  margin-bottom: 3px;
}

.feature-item p {
  padding: 0 20px;
  margin-bottom: 10px;
}


/*menu */
.menu{
  padding: 0;
}


.menu .heading {
  border-bottom: 1px solid #0a4591;
}

.breakfast, .lunch, .dinner, .snaks, .beverage{
  margin-top: 0 !important;
}

.breakfast-head, .lunch-head, .dinner-head, .snaks-head, .beverage-head{
  margin-bottom: 20px;
}

.breakfast .btn, .lunch .btn, .dinner .btn, .snaks .btn, .beverage .btn{
  font-size: 6px;
  padding: 3px 5px;
  border-radius: 2px !important;
}




.breakfast .row>*, .lunch .row>*, .dinner .row>*, .snaks .row>*, .beverage .row>*{
  width: auto;
}

.items-inner{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.menu .menu-items{
  padding-bottom: 20px;
  margin-bottom: -8px;
}

.menu .menu-items .items-inner .items-details{
  height: 150px;
    width: 130px;
    padding-top: 75px;
}


.menu-items .items-inner img{
  width: 115px;
  top:-60px;
  margin: 0.1rem;
}

.menu .menu-items .items-inner .items-details h4 {
  padding-left: 15px;
  margin-bottom: 0;
}

.menu .menu-items .items-inner .items-details p {
  padding-left: 15px;
  margin-bottom: 12px;
}

.menu .menu-items .items-inner .items-details .cta-btn h5 {
  padding-top: 12px;
}

.menu-items .cta-btn {
  padding: 0 15px;
}

.menu .menu-items .items-inner .items-details .cta-btn button {
  font-size: 6px !important;
  padding: 4px 6px !important;
}


/*About*/
.about {
  padding: 0 0 20px 0;
}

.about .heading {
  border-bottom: 1px solid #0a4591;
  padding-bottom: 0;
}

.about .hr-line {
  margin-top: -8px;
  margin-bottom: 10px;
}

.about-head {
  font-size: 20px !important;
}

.about .about-inner{
  padding: 10px;
}

.about .about-inner p{
  margin-bottom: 5px;
}

.about .about-inner .fact .number{
  margin-right: 10px;
}

.about .about-inner .fact .number h3 {
  font-size: 20px;
  border-left: 2px solid #032d63;
  padding-left: 3px;
  margin-bottom: 0;
}

.fact-inner-left, .fact-inner-right{
  align-items: normal;
}

.about .about-inner .more-btn {
  text-align: center;
  margin-top: 4px;
}

.about .about-inner .more-btn a{
  padding: 3px 5px;
  font-size: 10px;
}

.top-right-img, .bottom-left-img {
  width: 100px;
}

.bottom-left-img {
  margin-right: -1.6rem;
}

.top-right-img {
  margin-left: -1.6rem;
  margin-top: 1.1rem;
}



/*testimonial*/
.testimonial-head .heading {
  border-bottom: 1px solid #0a4591;
  padding-bottom: 0;
}





}






/*---responsive for mobile screen end---*/
